body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(20, 24, 20);
  font-family: 'Press Start 2P', monospace;
  color: rgba(180, 198, 184, 0.947);
  max-width: 800px;
  margin: auto;
}

br {
  margin-bottom: 10px;
  display: block;
}

.header {
  max-width: 800px;
  margin: auto;
  padding: 60px 20px;
  background-color: rgb(12, 26, 12);
  border-radius: 30px;
  text-align: center;
  overflow-y: auto;
  height: 100vh;
}

.header h1 {
  font-size: xx-large;
  margin-bottom: 60px;
  padding: 10px;
}

.header h4 {
  margin-top: 30px;
  margin-bottom: 10px;
}

input[type="text"] {
  background-color: #0a120a;
  border: 2px solid #a6dba5;
  color: #a6dba5;
  font-family: 'Press Start 2P', monospace;
  padding: 10px;
  width: 80%;
  margin-bottom: 20px;
  text-align: center;
}
.lb {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    background: #222;
    padding: 30px;
    border: 5px dashed #fff;
    margin: 30px auto;
    width: 90%;
    max-width: 700px;
    border-radius: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #333;
}

th, td {
    padding: 10px;
    border: 2px solid #fff;
    color: #f8f8f8;
}

th {
    background-color: #444;
}

img.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.avatars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.avatars img.avatar {
  width: 100px;
  height: 130px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 255, 0, 0.2);
}

.avatars img.avatar:hover {
  transform: scale(1.1);
  box-shadow: 0 0 12px rgb(42, 106, 42);
}

.avatars img.avatar.selected {
  transform: scale(1.1);
  transition: all 0.3 ease-in-out;
  border: 2px solid #fff;
  box-shadow: 0 0 12px rgb(42, 106, 42);
}

.weapon-buttons {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.weapon-buttons button, .check-button, .force-stop  {
  font-family: 'Press Start 2P', monospace;
  padding: 10px 20px;
  background: transparent;
  border: 1px solid rgba(180, 198, 184, 0.5);
  color: inherit;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 255, 0, 0.3);
}

.weapon-buttons button:hover {
  background-color: rgb(42, 106, 42);
  color: #000;
  border-color: rgb(42, 106, 42);
  box-shadow: 0 0 8px rgb(42, 106, 42);
}

.main-area {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: auto;
  padding: 60px 20px;
  background-color: rgb(12, 26, 12);
  border: 1px solid black;
  border-radius: 30px;
  text-align: center;
  overflow-y: auto;
  height: 100vh;
}

#question-screen {
  background-color: rgb(12, 26, 12);
  padding: 40px 30px;
  border-radius: 30px;
  box-shadow: 0 8px 24px rgba(0, 255, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 600px;
  border: 1px solid #1d2b1d;
}

#ques {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 50px;
  white-space: pre-wrap;
  color: rgba(180, 198, 184, 0.947);
}

#input {
  padding: 10px;
  font-family: 'Press Start 2P', monospace;
  width: 80%;
  background-color: #0a120a;
  border: 2px solid #a6dba5;
  color: #a6dba5;
  margin-top: 20px;
}

#feedback {
  margin-top: 20px;
}